apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-netflix
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: netflix
  template:
    metadata:
      labels:
        app: netflix
    spec:
      containers:
      - name: netflix
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 80