replicaCount: 2
image:
  repository: devabayomi/youtube
  tag: latest
  pullPolicy: Always
service:
  type: ClusterIP
  port: 80
  targetPort: 3000
ingress:
  enabled: true
  host: youtube.giftedadura.co.uk
