replicaCount: 2
image:
  repository: devabayomi/netflix
  tag: latest
  pullPolicy: Always
service:
  type: ClusterIP
  port: 80
  targetPort: 3000
ingress:
  enabled: true
  host: netflix.darra.name.ng